#Authors: Céline Hirsch, Sandra Frey, Sina Röllin
#Deep Learning Project: Inclusiveness in Sarcasm Detection


#This file contains all the requirements in packages for this project.


#Creating a virtual environment: conda create -n DLproj python=3.11 
#To install all the packages needed run the following command in the terminal in your chosen virtual environment:
#pip install -r requirements.txt

numpy
pandas
torch
torchaudio
transformers
matplotlib
scikit-learn
spacy
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz#egg=en_core_web_sm-3.2.0
json
IPython
torchaudio
librosa
moviepy
fairseq
nltk
torchvision
timm
soundfile
tensorflow
keras
os